---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';
import DarkmodeToggle from '../components/DarkmodeToggle';
import NavBar from '../components/NavBar';
import WebsiteMadeFromLetters from '../components/letters/WebsiteMadeFromLetters.astro';
// import ApiResult from '../components/ApiResult';
---

<Layout title="ein">
  <div class="grid place-items-center font-sans">
    <main class="container p-4">
      <Greeting />
      <DarkmodeToggle client:visible />
      <NavBar />

      <br />

      <WebsiteMadeFromLetters />
    </main>
  </div>
</Layout>
