---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';
import DarkmodeToggle from '../components/DarkmodeToggle';
import NavBar from '../components/NavBar';
import LetterE from '../components/letters/LetterE.astro';
// import ApiResult from '../components/ApiResult';
---

<Layout title="ein">
  <div class="grid place-items-center">
    <main class="container p-4">
      <Greeting client:visible/>
      <DarkmodeToggle client:visible />
      <NavBar />

      <br />
      <div class="">
        <p class="text-lg">
          Welcome to my w<LetterE />bsit<LetterE />
        </p>
      </div>
    </main>
  </div>
</Layout>
